.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result {
  height: 50px;
  margin-top: 30px;
  text-align: center;
  cursor: pointer;
}

.result .failure {
  color: #721c24;
}

.result .copy {
  margin-top: 10px;
  font-size: 0.9rem;
}

.result .link {
  margin-top: 10px;
  font-size: 0.9rem;
  text-decoration: underline;
}

.shorten {
  display: flex;
  flex-direction: rwo;
}

.shorten-input,
.shorten-button {
  height: 50px;
  border-radius: 0;
  color: white;
  padding: 6px 12px;
  font-size: 1.2rem;
  line-height: 1.42857143;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.shorten-input {
  background-color: #187abf;
  border: 1px solid #187abf;
  width: 400px;
  max-width: 100vw;
  appearance: none;
  -webkit-appearance: none;
}

.shorten-button {
  border: none;
  background-color: #152740;
  width: 150px;
  cursor: pointer;
}

@media only screen and (max-width: 550px) {
  .shorten {
    flex-direction: column;
  }

  .shorten-button, .shorten-input {
    width: 100vw;
  }
}

.search-input:focus {
  appearance: none;
  -webkit-appearance: none;
}

.search-input:disabled,
.search-button:disabled {
  cursor: not-allowed;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #aaa;
  opacity: 0.9; /* Firefox */
}
