* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: 'wf_segoe-ui_normal', Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Segoe UI Web (West European)', Segoe UI, -apple-system,
    BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.Site {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background-color: #235a97;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
}

.Main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Nav {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Logo {
  margin-right: 10px;
}

.Footer {
  height: 50px;
  font-size: 0.8rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a,
a:link,
a:visited,
a:focus {
  color: inherit;
}
