# database
export PGHOST=localhost
export PGPORT=8001
export PGUSER=development
export PGPASS=development
export PGDATABASE=development

# env
export PORT=9000

# urls for links and client
export BASE_URL='"http://localhost:9000"'
export CLIENT_URL='"https://localhost:3000"'
