name: 'Server: Test & Build'

on: 
  push:
    branches:
      - master
    tags:
      - 'v*_server'
    paths:
      - 'server/**'
      - '.github/workflows/server-*'
  pull_request:
    branches:
      - master
    paths:
      - 'server/**'
      - '.github/workflows/server-*'

jobs:
  release:
    strategy:
      matrix:
        os: [ubuntu-18.04]
        plan:
          - { stack-lts: "14.27", resolver: "--resolver lts-14.27" }

    runs-on: ${{ matrix.os }}

    steps:
    - name: Install OS Packages
      uses: mstksg/get-package@v1
      with:
        apt-get: happy libblas-dev liblapack-dev libgmp-dev

    - uses: actions/checkout@v1

    - name: Setup stack
      uses: mstksg/setup-stack@v1

    - uses: actions/cache@v1
      name: Cache ~/.stack
      id: cache
      with:
        path: ~/.stack
        key: ${{ matrix.os }}-stack-lts-${{ matrix.plan.stack-lts }}-${{ hashFiles('server/package.yaml') }}-${{ hashFiles('server/stack.yaml') }}-${{ hashFiles('server/stack.yaml.lock') }}

    - name: Install dependencies
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        set -ex
        stack --no-terminal --install-ghc $ARGS test --bench --only-dependencies
        set +ex
      env:
        ARGS: ${{ matrix.plan.resolver }}
      working-directory: server

    - name: Test & Build
      run: |
        set -ex
        stack --no-terminal $ARGS test --bench --no-run-benchmarks --haddock --no-haddock-deps
        cp $(stack exec -- which tsplay-exe) tsplay-exe
        set +ex
      env:
        ARGS: ${{ matrix.plan.resolver }}
      working-directory: server

    - name: Get release version
      if: startsWith(github.ref, 'refs/tags/')
      id: get_version
      run: echo ::set-env name=RELEASE_VERSION::$(echo ${GITHUB_REF:10})

    - name: Publish to Registry
      if: startsWith(github.ref, 'refs/tags/')
      uses: elgohr/Publish-Docker-Github-Action@master
      env:
        BINARY_PATH: "tsplay-exe"
      with:
        name: gillchristian/tsplay
        username: gillchristian
        password: ${{ secrets.docker_password }}
        workdir: server
        tags: "latest,${{ env.RELEASE_VERSION }}"
        buildargs: BINARY_PATH

    - name: Deploy (webhook)
      if: startsWith(github.ref, 'refs/tags/')
      shell: bash
      run: |
        curl -d '{ "name": "tsplay.dev" }' \
          -H "Authorization: $TOKEN" \
          -H "Content-Type: application/json" \
          -X POST "$WEBHOOK"
      env:
        WEBHOOK: ${{ secrets.deploy_webhook }}
        TOKEN: ${{ secrets.deploy_token }}
